.card {
    margin-top: 41px;
}
.card-body {
    box-sizing: border-box;
width: 381px;
/* height: 554px; */
background: #FFFFFF;
border: 1.37039px solid rgba(147, 162, 211, 0.38);
border-radius: 20.937px;
}

.card-img > img {
    padding: 27px;
    width: 326px;
    height: 257px;
    border-radius: 21px;
}

.card-title {
    width: 285px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 27px;
/* identical to box height, or 129% */


/* primary */

color: #0E2368;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.card-text-area {
margin: 0px auto;
padding: 0px;
gap: 14px;

width: 295px;
/* height: 125px; */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.card-text {
    margin-top: 14px;
    width: 295px;
/* height: 81px; */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
/* or 180% */

letter-spacing: -0.02em;

/* body */

color: #444957;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.card-button {
    margin-top: 33px;
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 3px 26px; */
gap: 10px;

width: 131px;
height: 42px;

border: 1px solid #424961;
border-radius: 21px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 46px;
}

.card-button-inner {
    width: 79px;
height: 36px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 16.4447px;
line-height: 36px;
/* identical to box height, or 216% */

letter-spacing: 0.03em;

color: #424961;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

@media (max-width: 376px) {
    .card {
        margin: 31.5px auto ;
    }
    .card-body {
        box-sizing: border-box;
    width: 271px;
    /* height: 484px; */
    background: #FFFFFF;
    border: 1.37039px solid rgba(147, 162, 211, 0.38);
    border-radius: 27px;
    }
    
    .card-img > img {
        padding: 40px 32px 0;
        width: 204px;
        height: 166px;
        border-radius: 21px;
    }
    
    .card-title {
        text-align: center;
    height: 35px;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    /* identical to box height, or 129% */
    
    
    /* primary */
    
    color: #0E2368;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 39px;
    }
    
    .card-text-area {
    margin: 0px ;
    padding: 0px;
    gap: 14px;
    
    width: 271px;
    /* height: 125px; */
    
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .card-text {
        
        width: 213px;
        text-align: center;
        /* height: 106px; */
        margin: 7px 28px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* or 180% */
    
    letter-spacing: -0.01em;
    
    /* body */
    
    color: #444957;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin-top: 7px ; */
    }
    
    .card-button {
        margin-top: 16px;
        box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 3px 26px; */
    gap: 10px;
    
    width: 118px;
    height: 26px;
    
    border: 2px solid #424961;
    border-radius: 27px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px auto 30px;
    }
    
    .card-button-inner {
        width: 53px;
    height: 46px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 46px;
    /* identical to box height, or 216% */
    
    letter-spacing: 0.03em;
    
    color: #424961;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
}